$font-size-base-xxs: 13px;
$font-size-base-xs: 14px;
$font-size-base-sm: 16px;
$font-size-base-md: 16px;
$font-size-base-lg: 17px;
$font-size-base-xl: 18px;

$font-family-base: 'Roboto';
$font-weight-base: 300;
$font-family-h: $font-family-base;
$font-weight-h: 700;
$font-family-h1: $font-family-base;
$font-weight-h1: 900;
$font-weight-accent: 500;

$primary-color: #04859d;
$link-color: $primary-color;

$navbar-height: 55px;

$navbar-bg: #eee;
$navbar-font-size: 80%;

$footer-bg: #404346;
