@import 'toolbox/fonts_mixin';
@include font-face(Proxima, 'assets/fonts/proximanova/proxima_nova_light', 400, normal, svg ttf woff woff2);
@include font-face(Proxima, 'assets/fonts/proximanova/proxima_nova_regular', 500, normal, svg ttf woff woff2);
@include font-face(Proxima, 'assets/fonts/proximanova/proxima_nova_semibold', 700, normal, svg ttf woff woff2);
@include font-face(Scandal, 'assets/fonts/pfscandalpro/pf_scandal_pro_black', normal, normal, svg ttf woff woff2);
$font-size-base-xxs: 13px;
$font-size-base-xs: 14px;
$font-size-base-sm: 16px;
$font-size-base-md: 16px;
$font-size-base-lg: 17px;
$font-size-base-xl: 18px;
$font-family-base: 'Proxima';
$font-family-scandal: 'Scandal';
$font-weight-base: 400;
$font-family-h: $font-family-base;
$font-weight-h: 500;
$font-family-h1: $font-family-base;
$font-weight-h1: 700;
$font-weight-accent: 700;
$primary-color: #04859d;
$font-color-base: white;
$link-color: #418acb;
$navbar-height: 55px;
$navbar-bg: #04859d;
$navbar-font-size: 75%;
$footer-bg: #04859d;
$subheader-color: #330b4c;
